<div appHighlight class="card"  [ngStyle]="{ opacity: inStock ? 1 : 0.65 }">

  <img [src]="imageUrl" [alt]="productName">

<h3>{{ productName | uppercase }}</h3>

<p
  class="stock-badge"
  [ngClass]="{
    'available': inStock,
    'out-of-stock': !inStock
  }">
  {{ (inStock ? 'In Stock' : 'Out of Stock') | uppercase }}
</p>

<p>
  {{ priceInLkr | currency:'LKR':'Rs. ':'1.0-0' }}
</p>

<p>
  Total incl. delivery: Rs. {{ totalInLkr | number:'1.0-0' }}
</p>

<p class="description">
  @if (showFullDescription) {
    {{ description }}
  } @else {
    {{ description | shortText:20 }}
  }
</p>

@if (description.length > 20) {
  <button
    (click)="toggleDescription()">
    {{ showFullDescription ? 'View less' : 'View more' }}
  </button>
}

  @if (inStock) {

    <div>
      <input
        #qtyInput
        type="number"
        value="1"
        min="1"
        max="10">

      <button
        (click)="onAddToCart(qtyInput.value)">
        Add to cart
      </button>
    </div>

  }

</div>